<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="<YourServerName>"/>
    <add key="Database" value="trafficwarehouse"/>
    <add key="Username" value="student"/>
    <add key="Password" value="Pa55w.rd"/> <!-- Not good practice. Don't do this in production applications -->
  </appSettings>
</configuration>